---
import OptimizedImage from "./OptimizedImage.astro";
const { data } = Astro.props;
console.log(data);
const { heading, image, link } = data;
console.log(image.data.attributes.url, "### # # ## # # # # ## # # # ## #")

function linkStyles(type: string) {
  if (type === "PRIMARY") return "button";
  if (type === "SECONDARY") return "button color-secondary";
  else return "";
}
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <!-- <span class="text-gradient">Accessible</span> Starter for Astro -->
          {heading}
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          {
            link.map(
              (link: {
                text: string;
                type: string;
                href: string;
                isExternal: boolean;
              }) => {
                console.log(link);
                return (
                  <a
                    class={linkStyles(link.type)}
                    href={link.href}
                    target={link.isExternal ? "_blank" : "_self"}
                  >
                    {link.text}
                  </a>
                );
              }
            )
          }
        </div>
      </div>
      <OptimizedImage src={image.data.attributes.url} alt="" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
