---
import type Article from "../../interfaces/articles";
import fetchApi from "../../lib/strapi";
import { getStrapiMedia } from "../../lib/api-helpers";

import Layout from "../../layouts/Default.astro";

const articles = await fetchApi<Article[]>({
  endpoint: "articles?populate=image",
  wrappedByKey: "data",
});
---

<Layout title="Blog">
  <section>
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-16">
        {
          articles ? (
            articles.map((article: Article, index: number) => {
              const imageUrl = getStrapiMedia(
                article.attributes.image.data.attributes.url
              );
              const publishedAt = new Date(article.attributes.publishedAt);
              console.log(article.attributes.publishedAt);
              if (index === 0) {
                return (
                  <a href={`/blog/${article.attributes.slug}/`}>
                    <div class="w-full lg:w-2/3 px-4 mb-16">
                      <div class="flex h-96 mb-10">
                        <img
                          class="w-full h-full object-cover rounded-xl"
                          src={imageUrl}
                          alt=""
                          loading="eager"
                          decoding="async"
                        />
                      </div>
                      <span class="inline-block mb-4 text-xs text-gray-500">
                        {publishedAt.toLocaleDateString()}
                      </span>
                      <h2 class="mb-4 text-3xl font-semibold font-heading">
                        {article.attributes.title}
                      </h2>
                      <p class="mb-4 text-xl text-gray-500">
                        {article.attributes.description}
                      </p>
                      <a
                        class="text-lg font-medium text-red-500 underline hover:no-underline"
                        href="#"
                      >
                        Read more
                      </a>
                    </div>
                  </a>
                );
              } else {
                return (
                  <a href={`/blog/${article.attributes.slug}/`}>
                    <div class="w-full lg:w-1/3 px-4 mb-16">
                      <div class="flex h-96 mb-10">
                        <img
                          class="w-full h-full object-cover rounded-xl"
                          src={imageUrl}
                          alt=""
                          loading="eager"
                          decoding="async"
                        />
                      </div>
                      <span class="inline-block mb-4 text-xs text-gray-500">
                        {publishedAt.toLocaleDateString()}
                      </span>
                      <h2 class="mb-4 text-3xl font-semibold font-heading">
                        {article.attributes.title}
                      </h2>
                      <p class="mb-4 text-xl text-gray-500">
                        {article.attributes.description}
                      </p>
                      <a
                        class="text-lg font-medium text-red-500 underline hover:no-underline"
                        href="#"
                      >
                        Read more
                      </a>
                    </div>
                  </a>
                );
              }
            })
          ) : (
            <h1>No Posts Found</h1>
          )
        }
      </div>
    </div>
  </section>
</Layout>
